In [ ]:
## counting positive numbers

In [9]:
numbers=[1,-2,3,-4,5,6,-7,-8,-9,10]
positive_num=0

In [10]:
for i in numbers:
    if i > 0:
        positive_num= positive_num+1
print(positive_num)

5

In [ ]:
## Sum of even numbers

In [14]:
num= 10
sum_even=0

for i in range(1,num+1):
    if i % 2 == 0:
        sum_even=sum_even+1

print(sum_even)

5

In [ ]:
#Multiplication table printer ...
#Print the multiplication table for a given number upto 10 ,but skip 5th itereation

In [18]:
num=3
for i in range (1,11):
    if i==5:
        continue
    print(num, "X", i ,"=", num * i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
## Riverse a string 
##Problem :Reverse a string using a loop

In [32]:
Str="Python"

revers_str=""

for char in Str:
    # revers_str=revers_str+char
    # print(char)
    revers_str=char+revers_str
    # print(revers_str)
    


print(revers_str)

nohtyP

In [46]:
## find the First Non Repeated Character

inp_str="teeterbtry"

for i in inp_str:
    if inp_str.count(i)==1:
        print(i)
        # break

b
y

In [41]:
Str="teeterr hidid.kkjddk"
Str.count("e")

3

In [48]:
# calculate the factorial of a number using a for loop in Python

num=6

factorial=1

for i in range(1,num+1):
    factorial=factorial * i

print(num , factorial)

6 720

In [50]:
num=5

factorial=1
step=[]

for i in range(1,num+1):
    factorial = factorial * i
    step.append(factorial)

print("factorial steps: ", step)

factorial steps:  [1, 2, 6, 24, 120]

In [51]:
num = 6
factorial = 1

for i in range(1, num + 1):
    factorial *= i
    print(f"{i}! = {factorial}")

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720

In [ ]:
# keep asking the user for input until they enter a number between 1 and 10

In [4]:
number=int(input("input the number in between 1 to 10:"))
is_valid=False
for i in range(1,11):
    if number==i:
        print("valid num:",number)
        is_valid=True
        break
if not is_valid:
    print("invalid num")

input the number in between 1 to 10: 34

invalid num

In [ ]:
# Prime Number Check (Using for loop):

In [11]:
num=12

if num<2:
    print("not a prime number")
else:
    for i in range(2,num):
        if num % i==0:
            print("not a prime number")
            break
    else:
        print("prime number")

not a prime number

In [ ]:
#Check all the elements in the list are unique .if a duplicate is found exit the loop and print duplicate

In [18]:
items=["apple","banana","orange","apple","mango","mango"]

unique_item=[]
for item in items:
    if item in unique_item:
        print("duplicate: ",item)
        # break
    unique_item.append(item)

duplicate:  apple
duplicate:  mango